<!DOCTYPE html>
<html>
  <head> </head>
  {% load static %}
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="Last-Modified" content="0" />
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <link
    rel="stylesheet"
    href="{% static 'styles/bars.css' %}"
  />
  <link
    rel="stylesheet"
    href="{% static 'styles/index.css' %}"
  />
  <link
    rel="stylesheet"
    href="{% static 'styles/button.css' %}"
  />
  <link
    rel="stylesheet"
    href="{% static 'styles/card.css' %}"
  />
  <link
    rel="stylesheet"
    href="{% static 'styles/listItem.css' %}"
  />
  <body>
    {% include "components/navbar.html" %}
    <content> {% block content %} {% endblock %} </content>
    {% include "components/footer.html" %}
  </body>
</html>
