{% load static %}
<card>
  <div class="card shadow">
    <div class="card-header">
      <h2>Username</h2>
    </div>
    <div class="card-body">
      <div>
        <img src="{% static 'media/icons/user.png' %}" />
      </div>
      <div>
        <p>email: example@gmail.com</p>
        <p>password: *******</p>
        <div class="button">
          <button class="btn_ok">
            <a href="{% url 'edit_user' %}">Editar</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</card>
