{% extends "bases/base.html" %}

{% load static %}

{% block Ustyles  %}
  <link
    rel="stylesheet"
    href="{% static 'styles/camera.css' %}"
  />
{% endblock  %}

{% block content %}
<div class="container text-center">
  <div class="columns justify-content-md-center">
  <div class="justify-content-md-center">
	  	<select name="list" id="list"></select>
	</div>
  <div>
    <video id="divcam" class="webcam"></video>
    <canvas class="webcam" id="canvas">
      <img src="",alt="photo"></img>
    </canvas>
  </div>
  <div>
    <input type="hidden" id="token" value="{{ csrf_token }}">
    <input type="hidden" id="user" value="{{ user.userID }}">
    {% include "components/button.html" with id="take" submit=1 icon="fa-camera" %}
    {% include "components/button.html" with class="btn btn-danger" page='smartcook:kitchen' icon="fa fa-sign-out" %}
    {% include "components/button.html" with id="savePht" submit=1 icon="fa-save" %}
  </div>


  </div>
</div>
{% endblock %}

{% block Uscripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/webcam.js' %}"></script>
{% endblock %}
