{% extends "bases/base.html" %}

{% load static %}

{% block Ustyles  %}
  <link
    rel="stylesheet"
    href="{% static 'styles/camera.css' %}"
  />
{% endblock  %}

{% block content %}
<div class="media">
  <div>
    <p id="ID" class="{{user.ID}}">camara</p>
	  	<select name="list" id="list"></select>
	</div>
  <video id="divcam" class="webcam"></video>
  <canvas id="canvas">
    <img src="",alt="photo"></img>
  </canvas>
  <div>
    <button class="btn ok" onclick="takephoto()" >
      <img class="img" src="{% static 'media/icons/take.png' %}" ></img>
    </button>
    <button class="btn dng">
        <a href="{% url 'smartcook:kitchen' %}" >
          <img class="img" src="{% static 'media/icons/close.png' %}" ></img>
        </a>
    </button>
  </div>
</div>
{% endblock %}

{% block Uscripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/webcam.js' %}"></script>
{% endblock %}
