{% extends "bases/base.html" %}
{% load static %}

{% block Ustyles %}
  <link
    rel="stylesheet"
    href="{% static 'styles/listItem.css' %}"
  />
  <link
    rel="stylesheet"
    href="{% static 'styles/modal.css' %}"
  />
{% endblock %}
{% block content %}
  <input type="hidden" id="token" value="">
  <div class="container historial shadow">
    <h2>Historial</h2>
    <div class=" row-sm historial-options">
      {% for receta in recetas %}
        {% include 'components/list_item.html' with bn='modal' ingredients=receta.ingredientes nombre=receta.nombre desc=receta.pasos %}
      {% endfor %}
    </div>
  </div>

<dialog id="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRecetaLabel">{{name}}</h5>
      </div>
      <h3>Ingredientes</h3>
      <ul class="modal-ingredients">
      </ul>
      <h3>Pasos</h3>
      <ol class="modal-body">
      </ol>
      <div class="modal-footer">
      {% include "components/button.html" with id="send" submit=1 type="submit" icon="fa-save" %}
      {% include "components/button.html" with submit=1 class="btn btn-danger" onclick='unload()' icon="fa fa-sign-out" %}
      </div>
  </div>
</dialog>
  <div class="modalcont"></div>

{% endblock %}


{% block Uscripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
