{% extends "bases/base_form.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block controls %}
{{ form|crispy }}      
{% endblock %}
{% block canvas %}
  <canvas class="webcam" id="canvas">
{% endblock %}
{% block extra_buttons %}
      <div class='conten'>
           <h5>Si no tienes una foto de tu nevera, puedes tomarla aquí:</h5>
           <button>
              <a href="{% url 'smartcook:camera' %}" id="camera">Tomar foto</a>
           </button>
      </div>
{% endblock %}
{% block Uscripts %}
  <script src="{% static 'js/imput.js' %}"></script>
{% endblock %}
