{% extends "bases/base_form.html" %}
{% load static %}
{% block Ustyles %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/form.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'styles/card.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'styles/kitchen.css' %}" />
{% endblock %}
{% load crispy_forms_tags %}
<div class='cont_form_img'>
  {% block controls %}
  {{ form|crispy }}     
  {% endblock %}

  {% block buttons %}
     <div class="button-container">
     <button id="btnGrabar" class="btn btn-success" type="submit">
         {{button}}
     </button>
     <a class="btn btn-danger" href="{{ back_url }}">
         Cancelar
    </a>
    </div>
    <p>Si no tienes una foto de tu nevera, puedes tomarla aquí:</p>
    <button class="btn btn-primary">
        <a href="{% url 'smartcook:camera' %}" id="camera">Tomar foto</a>
    </button>
  {% endblock %}
  {% block Uscripts %}
    <script src="{% static 'js/imput.js' %}"></script>
  {% endblock %}
</div>

