{% extends "bases/base.html" %}
{% load static %}

{% block Ustyles %}
  <link rel="stylesheet" href="{% static 'styles/recognition.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/listItem.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/modal.css' %}" />
{% endblock %}

{% block canvas %}
  <canvas class="webcam" id="canvas"></canvas>
{% endblock %}

{% block content %}
  <input type="hidden" id="token" value="{{ csrf_token }}">
  <input type="hidden" id="img" value="data:image/jpeg;base64,{{ img }}">
  
  <div class="container text-center">
    <div class="row">
      <ul class="list-group-flush row-sm">
        <h2>Ingredientes Detectados</h2>
        {% for item in ingredientes %}
          <li class="ingr">{{ item }}</li>
        {% endfor %}
      </ul>
      <div class="row-sm">
        <h3>Recetas</h3>
        <div class="Container_recetas">
          {% for  item in recetas %}
          {% include 'components/list_item.html' with bn='modal' ingredients=item.ingredients nombre=item.name desc=item.description %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

<dialog id="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRecetaLabel">{{name}}</h5>
      </div>
      <h3>Ingredientes</h3>
      <ul class="modal-ingredients">
      </ul>
      <h3>Pasos</h3>
      <ol class="modal-body">
      </ol>
      <div class="modal-footer">
      {% include "components/button.html" with id="send" submit=1 type="submit" icon="fa-save" %}
      {% include "components/button.html" with submit=1 class="btn btn-danger" onclick='unload()' icon="fa fa-sign-out" %}
      </div>
  </div>
</dialog>


{% endblock %}

{% block Uscripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/modal.js' %}"></script>
  <script src="{% static 'js/recog.js' %}"></script>
{% endblock %}


