{% extends "bases/base.html" %}
{% load static %}

{% block Ustyles %}
  <link
    rel="stylesheet"
    href="{% static 'styles/listItem.css' %}"
  />
  <link
    rel="stylesheet"
    href="{% static 'styles/modal.css' %}"
  />
{% endblock %}
{% block canvas %}
  <canvas class="webcam" id="canvas"></canvas>
{% endblock %}
{% block content %}
    <input type="hidden" id="token" value="{{ csrf_token }}">
    <input type="hidden" id="img" value="data:image/jpeg;base64,{{ img }}">
    <input type="hidden" id="user" value="{{ user.userID }}">
<div class="container text-center">
  {% for item in recetas %}
    {% include 'components/list_item.html' with bn='modal' ingredients=item.ingredients nombre=item.name desc=item.description %}
  {% endfor %}
</div>
<dialog id="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRecetaLabel">{{name}}</h5>
      </div>
      <div class="modal-ingredients">
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      {% include "components/button.html" with submit=1 type="submit" icon="fa-save" %}
      {% include "components/button.html" with submit=1 class="btn btn-danger" onclick='unload()' icon="fa fa-sign-out" %}
      </div>
  </div>
</dialog>


{% endblock %}

{% block Uscripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/modal.js' %}"></script>
  <script src="{% static 'js/recog.js' %}"></script>
{% endblock %}


