{% extends "bases/base.html" %}
{% load static %}
{% block Ustyles %}
  <link rel="stylesheet" href="{% static 'styles/form.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/card.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/kitchen.css' %}" />
{% endblock %}
{% block content %}
  <div class="form-container">
    <div class="section-title">
      <h2 style="margin-left:-7px;">{{title}}</h2>
    </div>
    <div class="form-wrapper">
      <div class="signup-form-wrapper container">
        <div class="container">
          <form method="POST" enctype="multipart/form-data" class="m-4" id="form-container">
            {% csrf_token %}
            {% block controls %}
            {% endblock %}
            {% block buttons %}
              <div class="button-container">
              <button id="btnGrabar" class="btn btn-success" type="submit">
                {{button}}
              </button>
              <a class="btn btn-danger" href="{{ back_url }}">
                Cancelar
              </a>
            </div>
            {% endblock %}
          </form>
            <canvas class="webcam" id="canvas">
        </div>
      </div>
    </div>
  </div>
  <div class='but-cont'>
    {% block extra_buttons %}
    {% endblock %}
  </div>
{% endblock %}
