{% extends "components/base.html" %}
{% block content %}
    <div>
        <h1>Iniciar Sesión</h1>
        <form action="/edit_user" method="POST">
            <label for="email">
                Email:
                <input type="email" name="email">
            </label>
            <label for="password">
                Password:
                <input type="password" name="password">
            </label>
            <button type="button">continuar</button>
            <button href="{% url 'singin' %}" type="button">crear usuario</button>
        </form>
    </div>
{% endblock %}
