.bar {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #8BB88B;
}

.bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.bar ul li {
  margin: 10px;
}

.bar ul li a {
  text-decoration: none;
  color: #333;
}

.bar ul li a:hover {
  color: #ffff;
}
