form {
  width: 500px; /* Ajusta el ancho del formulario */
  margin: 0 auto; /* Centra el formulario en la página */
  padding: 20px; /* Agrega espacio alrededor del contenido del formulario */
  border: 1px solid #ccc; /* Agrega un borde alrededor del formulario */
  border-radius: 8px; /* Redondea las esquinas del formulario */
  background-color: #ccc;
}

.form-wrapper {

  height: 75vh; /* Ocupa el 80% de la altura de la ventana */
  overflow: auto;
  padding: 10px; 
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  align-items: center;
}

.form-wrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

h2 {
  color: #ccc;
}

/* Estilo para las etiquetas de los inputs */
label {
  display: block; 
  margin-bottom: 5px;
  font-weight: bold; 
}

/* Estilo para los inputs de tipo texto */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
  box-sizing: border-box; 
}


.button-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

button.btn-success {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  border: none; 
  border-radius: 10px; 
  cursor: pointer; 
}



.error {
  color: red; 
  font-size: 12px; 
}

