body {
  margin: 0;
  overflow-x: auto;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #020010;
}

a {
  text-decoration-line: none;
  color: white;
  font-size: 1.2em;/*tamaño de letra de smartcook*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

p{
  margin-left: 17px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  width: 90%;
  height: 90%;
}

.modal{
  display: flex; /* Habilita Flexbox */
  justify-content: center; /* Alinea horizontalmente en el centro */
  align-items: center; /* Alinea verticalmente en el centro */
}

.MainFund{
  width:100%; 
  height:100%;
  margin-bottom: 5px;
}
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/static/media/fondos/nevera.png') no-repeat center center fixed; /* Ruta a tu imagen */
  background-size: contain;
  opacity: 0.3; /* Ajusta este valor para más o menos transparencia */
  z-index: -1; /* Coloca el fondo detrás del contenido */
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 90%;
}

.right {
  width: 70%;
  display: flex;
  justify-content: center;
  margin-right: 8%;
}

.left {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.left h1 {
  margin-bottom: 20px;
  color: #2EB872;
  font-size:4em;/*tamaño del titulo*/
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;/*tipo de letra de titulo*/
}

.left p {
  margin-bottom: 20px;
  color: #ffffff;
  margin-left: 0%;
  font-family:'Times New Roman', Times, serif;/*tipo de letra de contenido*/
  font-size:1em;/*tamaño del texto*/
}

.left .btn  {
  margin-bottom: 20px;
}

.left button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: #2EB872;/*fondo de boton cocinar*/
}
button{
  color: #ffffff;
  cursor: pointer;
}

