
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 17px; 
}

.but-cont {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.but-cont h5 {
    margin-top: 10px;
    margin-bottom: 20px; 
    color: rgb(255, 255, 255);
}

.but-cont button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #326c72;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.but-cont a {
    color: rgb(255, 255, 255);
}

.hidden {
    display: none;
}

canvas {
    margin-bottom:5px ;
}