<button 
  type="{{ type|default:'button'}}" 
  name="{{name}}"
  class="{{ class|default:'btn btn-success ms-2' }} btn-icono-grande" 
  data-description="{{ desc|default:'' }}"
  data-name="{{ dn|default:'' }}"
  id="{{ id|default:'' }}"
  onclick="{{ onclick|default:'' }}"
>
  {% if icon %}
  <a
  {% if not submit %}
    {% if back %}
      href={{back}}
    {% else %}
      href={% url page %}
    {% endif %}
  {% endif %}
    class='fa-solid {{icon}} icono grande'></a>
  {% else %}
  {{ text|default:'' }}
  {% endif %}
</button>
