{% load static %}
<card>
  <div class="card shadow">
    <div class="card-header">
      <h2>{{user.username}}</h2>
    </div>
    <div class="card-body">
      <div>
        <img src="{% static 'media/icons/user.png' %}" />
      </div>
      <div>
        <div id="card-body">
        <p>Nombre: {{user.first_name}} {{user.last_name}}</p>
        <p>Correo: {{user.email}}</p>
        </div>
        <div id="card-btn">
          {% include "components/button.html" with page='security:edit' id='editBtn' icon="fa-edit" %}
          {% include "components/button.html" with class="btn btn-danger ms-2" page='security:logout' id='exitBtn' icon="fa fa-sign-out" %}
        </div>
      </div>
    </div>
  </div>
</card>
