<div class="modal fade" id="modalReceta" tabindex="-1" role="dialog" aria-labelledby="modalRecetaLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRecetaLabel">Nombre de la receta</h5>
      </div>
      <div class="modal-body">
        <p>Instrucciones de la receta...</p>
      </div>
      <div class="modal-footer">
        {% include
        "components/button.html"
        with
        id='saveModal'
        alt='save'
        icon='media/icons/save.png'
        %}

        {%
        include
        "components/button.html"
        with
        class='btn dng'
        id='cancelModal'
        icon='media/icons/close.png'
        alt='close'
        %}
        <!-- <button type="button" class="btn ok" id="saveModal">Guardar</button> -->
        <!-- <button type="button" class="btn dng" onclick="unload()" data-dismiss="modal">Cancelar</button> -->
      </div>
    </div>
  </div>
</div>
