<div class="modal fade" id="modalReceta" tabindex="-1" role="dialog" aria-labelledby="modalRecetaLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRecetaLabel">{{name}}</h5>
      </div>
      <div class="modal-body">
        <p>{{desc}}</p>
      </div>
      <div class="modal-footer">
      {% include "components/button.html" with submit=1 type="submit" icon="fa-save" %}
      {% include "components/button.html" with submit=1 class="btn btn-danger" onclick='unload()' icon="fa fa-sign-out" %}
      </div>
    </div>
  </div>
</div>
