{% extends "bases/base_form.html" %}
{% load static %}
{% block controls %}
            <label for="first_name">
                nombre:
                <input value="{{user.first_name}}" name="first_name">
            </label>
            <label for="last_name">
                apellido:
                <input value="{{user.last_name}}" name="last_name">
            </label>
            <label for="username">
                Username:
                <input value="{{user.username}}" name="username">
            </label>
            <label for="email">
                correo:
                <input value="{{user.email}}" name="first_name">
            </label>
            <label for="password">
                Password:
                <input value="{{user.password}}" type="password" name="password">
            </label>
{% endblock %}
