{% extends "bases/base_form.html" %}
{% load static %}
<!-- {% block content %} -->
<!--     <div> -->
<!--         <h1>crear Usuario</h1> -->
<!--         <form class="shadow" action="" method="POST"> -->
<!--             <label for="name"> -->
<!--                 Nombre: -->
<!--                 <input type="text" name="name"> -->
<!--             </label> -->
<!--             <label for="email"> -->
<!--                 Email: -->
<!--                 <input type="email" name="email"> -->
<!--             </label> -->
<!--             <label for="password"> -->
<!--                 Password: -->
<!--                 <input type="password" name="password"> -->
<!--             </label> -->
<!--             <button class="btn ok" type="button">continuar</button> -->
<!--             <button class="btn dng"  type="button"> -->
<!--               <a href="{% url 'index' %}" > -->
<!--                 cancelar -->
<!--               </a> -->
<!--               </button> -->
<!--         </form> -->
<!--     </div> -->
<!-- {% endblock %} -->
