.media{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  height: 40vh;
  width: 100vw;
  gap: 13px;
}

.webcam {
  height: 420px;
  width: 308px;
  border: 5px solid;
  border-radius: 10px;
  border-color: black;
}

.buttons{
  height: 420px;
  width: 420px;

}
